fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
python-multipart
python-dotenv
pytest
numpy
opencv-python
inference-sdk
torch
ultralytics
huggingface_hub
hydra-core
omegaconf
mediapipe
imageio-ffmpeg
imageio-ffmpeg
mediapipe
psycopg2-binary
